[Desktop Entry]
Encoding=UTF-8
Name=monoeci
Comment=monoeci P2P Cryptocurrency
Comment[fr]=monoeci, monnaie virtuelle cryptographique pair à pair
Comment[tr]=monoeci, eşten eşe kriptografik sanal para birimi
Exec=monoeci-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/monoeci;
Categories=Office;Finance;
